@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";
@theme {
    --bg-black: #000;
    --color-black42:#0000006B;
    --font-manpore:'Manrope','sans-serif';
    --font-roboto:"Roboto", sans-serif;
    --font-grotesk:"Space Grotesk", sans-serif;
    --width-3xl:50rem;
    --text-lg:36px;
    --text-xs:15px;
    --text-xs1:16px;
}
