@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";
@theme {
    --bg-black: #000;
    --color-grey50:#F8FAFC;
    --color-black42: #0000006B;
    --color-tailgrid:#637381;
    --color-grey100: #E7E7E7;
    --color-grey200: #CCC;
    --bg-grey100:#E7E7E7;
    --font-manpore:'Manrope','sans-serif';
    --font-roboto:"Roboto", sans-serif;
    --font-grotesk:"Space Grotesk", sans-serif;
    --font-inter: "Inter", sans-serif;
    --width-3xl:50rem;
    --text-lg:36px;
    --text-xsss:12px;
    --text-xss:14px;
    --text-xs:15px;
    --text-xs1:16px;
}
